/* CSS Document */

body {
	background-color:#282828;
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
}

select {
	border-radius:4px;
	padding:4px;
}

select, input, textarea {
	box-shadow:#29D9F8 0 0 0 0;
	transition:box-shadow .3s;
}

input[type=checkbox] {
	box-shadow:none;
	transition:none;
}

input:focus[type=checkbox] {
	box-shadow:none;
	border:none;
}

select:focus, input:focus, textarea:focus {
	box-shadow:#29D9F8 0 0 5px 0px;
	border:1px solid #29D9F8;
}

#aboutCustomStyles p {
	line-height:20px;
	font-size:16px;
	font-family:times new roman,times,serif;
	margin:10px;
}

#aboutCustomStyles > ul {
  list-style-type:disc;
  list-style-position:inside;
}

#wrapper {
	position:relative;
	width:1000px;
	margin:0 auto;
	background-color:#FFF;
	background-repeat:no-repeat;
}

#wrapper.main {
	background-image:url(../img/background.jpg);
}

#wrapper.news {
	background-image:url(../img/header.jpg);
}

#wrapper > header {
	position:relative;
	height:170px;
}

#wrapper.smallbg {
	background-image:url(../img/header.jpg);
}

#logo {
	position:relative;
	width:119px;
	height:170px;
	left:25px;
	background-image:url(../img/logo.png);
}

#search {
	position:absolute;
	width:275px;
	height:40px;
	top:70px;
	right:10px;
	opacity:.9;
}

#search > form > input[type=search] {
	width:250px;
	height:40px;
	border:none;
	font-size:17px;
	padding:3px 15px 0 10px;
	border-radius:8px;
	background-image:url(../img/input.png);
}

#search > form > input[type=submit] {
	position:absolute;
	top:0px;
	right:0;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;	
	width:40px;
	height:40px;
	border:none;
	cursor:pointer;
	background-image:url(../img/search.png);
}

::-webkit-input-placeholder {
	color:#000;
	font-style:italic;
	font-size:17px;
}

::-moz-placeholder {
	color:#000;
	font-style:italic;
	font-size:17px;
}

:-ms-input-placeholder {
	color:#000;
	font-style:italic;
	font-size:17px;
}

#wrapper > nav {
	position:relative;
	height:50px;
	background-color:#FFF;
	display:flex;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:30px;
	box-shadow:#000 0 2px 15px 2px;
	z-index:2;
}

#wrapper > nav > div {
	height:100%;
}

#wrapper > nav  a {
	text-decoration:none;
	color:#000;
}

#wrapper > nav > div:last-child > a > div {
	font-size:22px;
}

#wrapper > nav a > div {
	padding-left:20px;
	padding-top:10px;
	height:40px;
	cursor:pointer;
}

#wrapper > nav > div.active > a > div, #wrapper > nav > div.active > div.hidden div {
	background-image:url(../img/dnr-small.png);
	background-repeat:repeat-y;
}

#wrapper > nav  a > div:hover {
	background-color:#e2e3e4
}

#wrapper > nav  a > div {
	width:180px;
}
 
#wrapper > nav > div:nth-of-type(1) > a > div {
	width:140px;
}

#wrapper > nav > div:nth-of-type(5) > a > div {
	width:220px;
	padding-top:15px;
	height:35px;
}

#wrapper > nav  a > div > div.navCircle {
	position:relative;
	float:right;
	right:4px;
	width:26px;
	height:26px;
	background-image:url(../img/navCircle.png);
	opacity:.5;
	top:2px;
}

#wrapper > nav  a > div > div.delimiter {
	position:relative;
	float:right;
	height:50px;
	width:1px;
	bottom:10px;
	background-color:#dbdbdb;
}

#wrapper > nav div.hidden {
	position:relative;
	height:0%;
	z-index:2;
	background-color:#FFF;
	font-size:23px;
	overflow:hidden;
	transition:height .2s;
}

#wrapper > nav  div.hidden > a > div {
	height:30px;
	padding:14px 0 6px 20px;
	cursor:pointer;
}

#wrapper > nav  div.hidden > div:hover {
	background-color:#e2e3e4;
}

section {
	position:relative;
	height:450px;
}

#wrapper > section > article {
	float:left;
	width:464px;
	height:186px;
	margin:15px 10px 0 10px;
	padding:12px 8px;
	border-bottom-right-radius:15px;
	background-color:rgba(255,255,255,.85);
	box-shadow:inset 5px 5px 10px -2px rgba(0,0,0,.75);
}

#wrapper > section > article:nth-child(even) {
	border-top-right-radius:15px;
}

#wrapper > section > article > header {
	font-family:"Comic Sans MS", cursive;
	font-size:18px;
	border-bottom:1px solid #000;
}

.articleBody {
	position:relative;
	margin:6px 0 0 2px;
	line-height:18px;
}

.articleBody > p {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
}

.articleTitle {
	position:relative;
    width:400px;
}

.articleTitle > p {
	font-size:14px;
	font-weight:bold;
}

.articleDate {
	position:absolute;
    right:0;
    top:0;
}

.articleBody p > img {
	float:left;
	margin-right:16px;
}

article a {
	text-decoration:none;
}

article a:hover {
	text-decoration:underline;
}

#news {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:flex;
	background-color:#ebebeb;
	padding:15px 0 0 10px;
}

#news > section {
	width:787px;
	height:100%;
	background-color:#FFF;
	display:flex;
	flex-wrap:wrap;
	padding-bottom:15px;
}

#news > section > article {
	width:380px;
	padding:7px 0 10px 0;
	margin-left:4px;
	border-bottom:1px solid #404040;
	border-right:1px solid #404040;
	margin-bottom:15px;
	box-shadow:#000 1px 1px 1px -1px;
}

#news > section > article .newsTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}

#news > section > article > .newsImg {
	margin-top:20px;
}

#news > section > article > .newsInfo {
	color:#767676;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	height:25px;
	border-bottom:1px solid #767676;
	padding-bottom:5px;
	margin-bottom:10px;
}

.eye {
	position:relative;
	top:3px;
}

#news > section.view {
	display:block;
}

#news > section > article > p {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:17px;
}

#news > section > nav.pagination {
	position:relative;
	display:inline-block;
	margin:0 auto;
	height:35px;
}

nav.pagination > ul > a.disabled {
	  pointer-events:none;
}

nav.pagination > ul > a.disabled > li {
	color:#999;
}

nav.pagination > ul > a > li {
	float:left;
	height:25px;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:10px 13px 0 13px;
	color:#337ab7;
	cursor:pointer;
}

nav.pagination > ul > a:first-child > li {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

nav.pagination > ul > a:last-child > li {
	border-right:1px solid #ddd;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

nav.pagination > ul > a:hover > li {
	background-color:#E4E9E7;
}

nav.pagination > ul > a > li.active {
	background-color:#337ab7;
	color:#FFF;
}

#news > section > nav.breadcrumbs {
	position:relative;
	height:10px;
	left:5px;
	top:7px;
	display:inline-block;
	background-color:#bbbbbb;
	border-radius:3px;
	padding:10px;
}

#news > section > nav.breadcrumbs > a {
	text-decoration:none;
	color:#000;
}

#news > section > nav.breadcrumbs > a:hover {
	text-decoration:underline;
}

#news > section > nav.breadcrumbs > .active {
	color:indigo;
}

#eventReg {
	width:200px;
	height:60px;
	position:relative;
	float:right;
	top:7px;
	right:9px;
	cursor:pointer;
	background-color:#ebebeb;
	border:0;
	padding:0;
	text-align:left;
	box-shadow:#000 3px 3px 6px -1px;
}

#eventReg:hover {
	box-shadow:none;
}

#eventReg:active  {
	box-shadow:inset #000 3px 3px 6px -1px;
}

#pen {
	position:relative;
	float:left;
	left:4px;
	width:35px;
	height:38px;
	background-image:url(../img/pen.png);
	background-repeat:no-repeat;
	border-right:1px solid #4d67ac;
}

#eventRegText > p > a {
	position:relative;
	left:8px;
	top:2px;
}

#eventRegText > p  > a {
	font-size:18px;
	color:#a3a3a3;
}

#news > section > article.view {
	float:none;
	width:765px;
	margin-top:20px;
	padding:0 5px 5px 5px;
	margin-left:0px;
	border-bottom:none;
	border-right:none;
	margin-bottom:0;
	box-shadow:none;
}

#news > section > article.view .newsTitle {
	text-align:left;
}

#news > section > article.view .newsInfo {
	font-size:18px;
	border-top:1px solid #4d67ac;
	border-bottom:1px solid #4d67ac
}

.pull-right {
	position:relative;
	float:right;
	top:5px;
}

#news > section > article.view > p, .committeesText > p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:normal;
	color:#767676;
	line-height:19px;
}

#news > aside {
	width:210px;
	padding:13px 5px 0 0;
}

#news > aside .newsNavItem {
	position:relative;
	width:190px;
	height:36px;
	border-left:1px solid #dddddd;
	border-top:1px solid #dddddd;
	margin-left:5px;
	margin-bottom:6px;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:flex;
	cursor:pointer;
	box-shadow:rgba(0,0,0,.1) -1px -1px 0 0px;
}

#news > aside .newsNavItem:hover {
	box-shadow:rgba(0,0,0,.1) 1px 1px 0 0px;
}

#news > aside .newsNavItem > .active {
	position:absolute;
	top:9px;
	right:2px;
	width:12px;
	height:17px;
	z-index:2;
	background-image:url(../img/drop.png);
}

#news > aside .newsNavItemMark {
	position:relative;
	width:38px;
	border-right:1px solid #dddddd;
	background-image:url(../img/newsNavMarker.png);
	background-repeat:no-repeat;
	background-position:center;
}

#news > aside .newsNavItemText {
	position:relative;
	width:151px;
	background-color:#FFF;
	font-size:20px;
	color:#959595;
	padding:7px 0 0 6px;
}

.newsNavItemLink {
	text-decoration:none;
}

#news > aside  .newsNavItem:hover .newsNavItemText, #news > aside .newsNavItem.active .newsNavItemText {
	color:#000;
	background-color:#ebebeb;
}

#news > aside  .newsNavItem:hover .newsNavItemMark, #news > aside .newsNavItem.active .newsNavItemMark {
	background-color:#FFF;
	border-right:1px solid #bfbfbf;
}

.delimiterLine {
	width:100%;
	height:1px;
	background-color:#959595;
	margin:10px 0 10px 0;
}

#filterForm  {
	margin:10px 0 10px 5px;
	display:none;
}

#filterForm > form select {
	margin:8px 0;
	padding:1px;
	border:1px solid rgb(169, 169, 169);
}

#filterForm > form > input[type=submit], #appForm input[type=submit] {
	width:98px;
	height:35px;
	border-radius:4px;
	color:#fff;
    background-color:#337ab7;
    border:1px solid #2e6da4;
	cursor:pointer;
	padding:8px;
}

#filterForm > form > input[type=submit]:hover, #appForm input[type=submit]:hover {
    background-color: #286090;
    border-color: #204d74;
}

.checkboxText {
	position:relative;
	left:5px;
    top:-2px;
    cursor:pointer;
}

#partners {
	position:relative;
	margin-top:20px;
	height:127px;
	border-bottom:2px solid #c7cfff;
}

#partners > header, #about > header, #reg > header, #documents > header {
	height:25px;
	border-bottom:2px solid #c7cfff;
}

#partnersBody {
	overflow:hidden;
	background-color:#999;
}

#prev, #next {
	position:absolute;
	width:25px;
	height:100px;
	background-image:url(../img/prevnext.png);
	background-repeat:no-repeat;
	z-index:2;
	background-color:#FFF;
}

#prev {
	float:left;	
	background-position:left;
}

#next {
	background-position:right;
	top:27px;
	right:0;
}

#banners {
	position:relative;
	width:3000px;
	height:100px;
	left:25px;
	z-index:1;
}

#banners > a {
	margin-right:5px;
}

header > .title > a {
	line-height:25px;
	background-color:#c7cfff;
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:underline;
	padding:0 15px 0px 10px;
	color:#000;
}

#partnersBody {
	height:100px;
}

#about {
	position:relative;
	margin:0 10px;
	margin-top:15px;
	height:310px;
	border-bottom:2px solid #c7cfff;
}

.aboutBody {
	position:relative;
	top:14px;
	height:280px;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:flex;
	line-height:23px;
}

.aboutText {
	width:455px;
	margin-left:15px;
	padding-right:3px;
	height:225px;
	border-right:2px solid #c7cfff;
}

.aboutBody p.title {
	font-size:20px;
}

.aboutBody p.link {
	font-style:italic;
}

.aboutText > p {
	font-size:14px;
}

.aboutContacts {
	margin-left:10px;
}

#partnersPage {
	background-color:#ebebeb;
	padding:15px 10px 10px 10px;	
}

#partnersPage > section.partners {
	width:980px;
}

.headerText.partners {
	width:877px;
}

#reg {
	position:relative;
	padding:0 10px;
	margin-top:45px;
	height:113px;
	border-bottom:2px solid #c7cfff;
	margin-bottom:50px;
}

#regText {
	position:relative;
	top:20px;
}

#regText > p {
	font-size:18px;
}

#documents {
	position:relative;
	margin:0 10px;
	border-bottom:2px solid #c7cfff;
}

#documents > #committees {
	background:none;
	padding:15px 0px 10px 0px;
}

#committees {
	background-color:#ebebeb;
	padding:15px 10px 10px 10px;
	display:flex;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
}

#committees > section, #partnersPage > section {
	width:640px;
	height:100%;
	background-color:#FFF;
}

.committeesText {
	padding:10px;
}

section > header {
	height:44px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
}

#committees > section,  #committees > aside, #partnersPage > section  {
	box-shadow:#81b5d8 2px 2px 9px 1px;
}

.parallelogram {
	float:left;
	width:82px;
	height:44px;
	display:inline-block;
	-webkit-transform:skew(-25deg);
	-moz-transform:skew(-25deg);
	-ms-transform:skew(-25deg);
	margin-left:10px;
	background-color:#2980b9;
}

.headerText {
    position:absolute;
    left:73px;
    width:537px;
    height:30px;
    top:11px;
    border-bottom:3px solid #2980b9;
    padding-left:30px;
}

#committees > aside {
	margin-left:10px;
	width:323px;
	height:100%;
	background-color:#FFF;
	padding:20px 0 0 7px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
}

#committees > aside > .committeesListItem {
    position:relative;
    display:flex;
    padding:7px;
}

#committees > aside > .committeesListItem.active .circle {
	background-color:#9C0;
}

#committees > aside > .committeesListItem:last-child .line {
	display:none;
}

#committees > aside .comText {
	margin-left:30px;
	text-decoration:underline;
}

#committees > aside .comText > a {
	color:#000;
}

#committees > aside .comText > a:hover {
	color:#3F8FD2;
}

#committees > aside .marker {
    position:absolute;
    width:24px;
    height:100%;
}

#committees > aside .circle {
	display:inline-block;
	width:24px;
	height:24px;
	border-radius:12px;
	margin-right:8px;
	background-color:#3498db;
}

#committees > aside .line {
	position:relative;
	top:-3px;
	left:8px;
	width:8px;
	height:100%;
	background-color:#c6cad2;
}

#committees > aside.about {
	position:fixed;
    width:175px;
    height:190px;
}

#committees > aside.about > ul > li {
	margin-bottom:5px;
}

#committees > section.about {
	width:785px;
}

#committees > section.documents, #committees > aside.documents {
	width:49.5%;
	padding-bottom:10px;
	padding-top:0px;
	padding-left:0px;
}

.document {
	padding:13px 0 15px 5px;
	border-bottom:1px solid #CCC;
	display:flex;
}

.document > a, .document > div {
	margin-right:10px;
}

.save {
	text-decoration:none;
}

.save > div {
	min-width:25px;
	height:13px;
	background-color:#e1e7ed;
	background-image:url(../img/save.gif);
	background-repeat:no-repeat;
	background-position:4px;
	border-radius:3px;
	padding:7px 10px 5px 20px;
	color:#777777;
}

.document div.title {
	margin-top:1px;
}

.document div.title > a {
	font-weight:bold;
	text-decoration:none;
	color:#2B587A;
}

.document > div.title > a:hover {
	text-decoration:underline;
}

.document div.title > div {
	margin-top:2px;
}

.document div.title > div > p {
	color:#777777;
}

.document div.description {
	width:345px;
}

.document div.description > p {
	line-height:15px;
}

.headerText.about {
	width:682px;
}

#regSection {
	position:relative;
	height:100%;
	padding:25px 10px;
	background-color:#ebebeb;
}

#regSection > header > .parallelogram {
	width:55px;
	transform:skew(-30deg);
}

#regSection > header > .headerText {
	position:relative;
    left:12px;
	width:100%;
    height:30px;
    top:11px;
    border-bottom:none;
    padding-left:30px;
}

.regLine {
	width:315px;
	position:relative;
	float:right;
	top:-5px;
	height:3px;
	background-color:#2980b9;
}

#appFormFields {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	margin-top:30px;
}

#appFormFields > fieldset {
	border-top:3px solid #2980b9
}

#appFormFields > fieldset > legend {
	font-size:23px;
	padding-right:15px;
	padding:0 15px 3px 90px;
	margin-bottom:5px;
}

#appFormFields div {
	height:35px;
	margin-bottom:10px;
}

#appFormFields div > label > span {
    position:relative;
    bottom:-3px;
}

#appFormFields div > label > input, #appFormFields div > label > textarea, #appFormFields div > label > select {
	position:relative;
	float:right;
	height:23px;
	border-radius:5px;
	border:1px solid #ccc;
	padding:6px 12px;
}

#appFormFields div > label > select {
	width:180px;
	height:34px;
	right:221px;
}

#appFormFields div > label {
	cursor:pointer;
}

#appFormFields div > label > input.wide, textarea.wide {
	width:376px;
}

#appFormFields div > label > input.middle {
	width:250px;
	right:126px;
}

#appFormFields div > label > input.short {
	width:130px;
	right:246px;
}

#appFormFields div.noteField {
	height:130px;
}

#appFormFields div > label > textarea {
	height:130px;
	resize:none;
}

#regButtons {
	margin-left:60px;
	display:flex;
}

#appFormFields input[type=checkbox] {
	display:none;
}

#appFormFields .checkbox > label {
	display:inline-block;
	cursor:pointer;
	position:relative;
	padding-left:40px;
	padding-top:7px;
	height:20px;
	font-size:16px;
}

#appFormFields div.checkbox:before {
	position:absolute;
	content:"";
	display: inline-block;
	width:20px;
	height:20px;
	border-radius:5px;
	border:4px solid #919191;
}

#appFormFields input[type=checkbox]:checked + label:before {
	content:url(../img/confirm.png);
	position:absolute;
	left:0;
	top:-2px;
}

#appForm input[type=submit] {
	width:142px;
	margin-left:20px;
	margin-top:-3px;
}

#appForm input[disabled] {
	opacity:0.6;
	cursor:default;
}

#appForm input[disabled]:hover {
	background-color:#337ab7;
}

#appFormFields > fieldset > .representetive {
	height:100%;
	position:relative;
}

.representetive:not(:nth-of-type(1)) {
	padding-top:5px;
	border-top:2px solid #919191;
}

#delRepresentative {
	position:absolute;
	top:45px;
	right:20px;
	cursor:pointer;
}

#delRepresentative > img {
	margin-left:11px;
}

#delRepresentative:hover > img {
	transform:scale(1.1);
}

#delRepresentative > div {
	text-align:center;
}

#addRepresentative {
	position:relative;
	float:right;
	right:150px;
	cursor:pointer;
	width:253px;
	font-size:16px;
}

#addRepresentative > img {
	transform:rotate(0deg);
	transition:transform .3s;
}

#addRepresentative:hover > img {
	transform:rotate(180deg);
}

#addRepresentative > span {
	position:relative;
	top:10px;
	left:10px;
}

#wrapper > footer {
	position:relative;
	height:100px;
	background-color:#c7cfff;
	line-height:16px;
}

#dnr-big-flag {
	float:left;
	width:45px;
	height:100%;
	background-image:url(../img/dnr-big.png);
}

#copyright {
	position:relative;
	float:left;
	top:15px;
	left:15px;
}

#wrapper > footer > address {
	position:relative;
	float:right;
	top:10px;
	right:10px;
}

