/* CSS Document */

body {
	background-color:#282828;
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

#wrapper {
	position:relative;
	width:1000px;
	margin:0 auto;
	background-color:#FFF;
	background-image:url(../img/background.jpg);
	background-repeat:no-repeat;
}

#wrapper > header {
	position:relative;
	height:170px;
}

#logo {
	position:relative;
	width:119px;
	height:170px;
	left:25px;
	background-image:url(../img/logo.png);
}

#search {
	position:absolute;
	width:275px;
	height:40px;
	top:70px;
	right:10px;
	opacity:.9;
}

#search > form > input[type=search] {
	width:250px;
	height:40px;
	border:none;
	font-size:17px;
	padding:3px 15px 0 10px;
	border-radius:8px;
	background-image:url(../img/input.png);
}

#search > form > input[type=submit] {
	position:absolute;
	top:0px;
	right:0;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;	
	width:40px;
	height:40px;
	border:none;
	cursor:pointer;
	background-image:url(../img/search.png);
}

::-webkit-input-placeholder {
	color:#000;
	font-style:italic;
	font-size:17px;
}

::-moz-placeholder {
	color:#000;
	font-style:italic;
	font-size:17px;
}

:-ms-input-placeholder {
	color:#000;
	font-style:italic;
	font-size:17px;
}

nav {
	position:relative;
	height:50px;
	background-color:#FFF;
}

section {
	position:relative;
	height:450px;
}

article {
	float:left;
	width:464px;
	height:186px;
	margin:15px 10px 0 10px;
	padding:12px 8px;
	border-bottom-right-radius:15px;
	background-color:rgba(255,255,255,.8);
	box-shadow:inset 5px 5px 10px -2px rgba(0,0,0,.75);
}

article:nth-child(even) {
	border-top-right-radius:15px;
}

article > header {
	font-family:"Comic Sans MS", cursive;
	font-size:18px;
	border-bottom:1px solid #000;
}

.articleBody {
	margin:6px 0 0 2px;
	line-height:25px;
}

.articleTitle {
	width:257px;
	float:left;
}

.articleTitle > p {
	font-size:14px;
	font-weight:bold;
}

.articleDate {
	float:right;
}

.articleBody > p > img {
	float:left;
	margin-right:16px;
}

article a {
	text-decoration:none;
}

article a:hover {
	text-decoration:underline;
}

#partners {
	position:relative;
	margin-top:20px;
	height:127px;
	border-bottom:2px solid #c7cfff;
}

#partners > header, #about > header, #reg > header {
	height:25px;
	border-bottom:2px solid #c7cfff;
}

#partnersBody {
	overflow:hidden;
	background-color:#999;
}

#prev, #next {
	position:absolute;
	width:25px;
	height:100px;
	background-image:url(../img/prevnext.png);
	background-repeat:no-repeat;
	z-index:2;
	background-color:#FFF;
}

#prev {
	float:left;	
	background-position:left;
}

#next {
	background-position:right;
	top:27px;
	right:0;
}

#banners {
	position:relative;
	width:3000px;
	height:100px;
	left:25px;
	z-index:1;
}

#banners > a {
	margin-right:5px;
}

header > .title {
	line-height:25px;
	background-color:#c7cfff;
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:underline;
	padding:0 15px 0px 10px;
}

#partnersBody {
	height:100px;
}

#about {
	position:relative;
	margin:0 10px;
	margin-top:15px;
	height:310px;
	border-bottom:2px solid #c7cfff;
}

#aboutBody {
	position:relative;
	top:14px;
	width:386px;
	height:280px;
	display:-webkit-box;
	line-height:23px;
}

#aboutLogo {
	width:250px;
}

#aboutText {
	padding-right:3px;
	position:relative;
	height:225px;
	left:16px;
	border-right:2px solid #c7cfff;
}

#aboutBody p.title {
	font-size:20px;
}

#aboutBody p.link {
	font-style:italic;
}

#aboutText > p {
	font-size:14px;
}

#aboutContacts {
	position:relative;
	left:28px;
}

#reg {
	position:relative;
	padding:0 10px;
	margin-top:45px;
	height:113px;
	border-bottom:2px solid #c7cfff;
}

#regText {
	position:relative;
	top:20px;
}

#regText > p {
	font-size:18px;
}

#wrapper > footer {
	position:relative;
	margin-top:50px;
	height:100px;
	background-color:#c7cfff;
	line-height:16px;
}

#dnr-big-flag {
	float:left;
	width:45px;
	height:100%;
	background-image:url(../img/dnr-big.png);
}

#copyright {
	position:relative;
	float:left;
	top:15px;
	left:15px;
}

#wrapper > footer > address {
	position:relative;
	float:right;
	top:10px;
	right:10px;
}